/* 移动端附加样式（横向 - 大屏/桌面） */
@media (min-width: 751px) {
    html {
        -webkit-tap-highlight-color: transparent;
    }
    .ss-card {
        border-radius: 0.9rem;
    }

    .tab-bar>li svg {
        font-size: 1.2rem !important;
    }
    .tab-bar>span {
        display: none;
    }

    #app {
        background: var(--color-card);
    }
    .main-body > ul {
        background: rgba(var(--color-card-rgb), 0.7);
        backdrop-filter: blur(35px);
    }

    .login-pan-card {
        background: transparent;
        box-shadow: unset;
    }
    .login-pan-card:hover {
        box-shadow: unset !important;
    }
    .wave-pan {
        display: none;
    }

    /* 一级侧栏 */
    .main-body > ul {
        justify-content: space-evenly;
        padding-bottom: var(--safe-area-bottom);
        position: absolute;
        z-index: 20;
        display: flex;
        flex-direction: row;
        width: var(--mobile-sidebar-wide);
        height: var(--mobile-tab-bar-height);
        left: 0;
        bottom: 0;
    }
    .side-bar-space {
        display: none;
    }
    .friend-list {
        background: var(--color-card);
        width: var(--mobile-sidebar-wide);
    }
    .chat-pan {
        left: var(--mobile-sidebar-wide);
    }
    .friend-body img {
        height: var(--mobile-avatar-size);
        width: var(--mobile-avatar-size);
    }

    .group-assist-message-list {
        margin-right: calc(var(--mobile-sidebar-wide) * -1);
    }
    .group-assist-message-list.show {
        margin-left: calc(var(--mobile-sidebar-wide) * -1);
    }

    .home-body {
        background: var(--color-card);
        width: calc(100% - var(--mobile-sidebar-wide));
        margin-left: var(--mobile-sidebar-wide);
        border-left: 1px solid var(--color-card-2);
    }

    /* 聊天面板 */
    .chat-pan > div.info > svg.back {
        display: none !important;
    }
    .main-body > ul > li > span {
        display: block !important;
    }
    .main-body > ul > li {
        margin-top: 1.25rem !important;
        margin-bottom: 0 !important;
    }
    .main-body > ul > li.active > span,
    .main-body > ul > li.active > svg {
        background-color: transparent;
        color: var(--color-main);
    }
    .chat-pan {
        z-index: 21;
        height: calc(100% + 2.2rem - var(--safe-area-bottom));
        border-left: 1px solid var(--color-card-2);
    }
    .chat-pan > div.info {
        margin: 0 0 0.9rem 0;
        width: calc(100% - 3.125rem);
        padding: 0.9rem 1.5rem;
        padding-top: calc(var(--safe-area-top) + 0.9rem);
        background: rgba(var(--color-card-rgb), 0.7);
        backdrop-filter: blur(35px);
        box-shadow: unset;
        border-bottom: 1px solid var(--color-card-2);
        border-radius: 0;
    }
    .merge-pan {
        box-shadow: 0 0 5px var(--color-shader);
    }
    .merge-pan>div:last-child>div:first-child {
        margin: calc(var(--safe-area-top) + 0.9rem) 2.2rem 0 2.2rem;
        flex-direction: row-reverse;
        overflow: hidden;
        padding: 0;
    }
    .merge-pan>div:last-child>div:first-child svg:first-child {
        display: none;
    }
    .merge-pan>div:last-child>div:first-child svg {
        transform: translateX(calc(-50% + 1px));
    }
    .merge-pan>div:last-child>div:first-child span {
        font-size: 1.5rem;
    }
    .chat-pan > div.bg {
        height: calc(100% - 2.125rem - var(--append-fs-adaptation));
    }
    .chat-pan > div.chat {
        margin-bottom: -3.75rem;
        padding-bottom: 3.75rem;
    }
    .chat-pan > div.chat {
        margin-bottom: -1.875rem;
    }
    .chat-pan > div.more > div:first-child {
        padding-bottom: 1.25rem;
    }
    .chat-pan > div.more > div:first-child > div {
        border-radius: 0.9rem;
    }
    .chat-pan > div.more > div:nth-child(2) {
        background: rgba(var(--color-card-rgb), 0.7);
        backdrop-filter: blur(35px);
        padding-bottom: calc(0.7rem + var(--safe-area-bottom));
    }
    .chat-pan > div.more > div:nth-child(2) > div:first-child {
        border-radius: 999px;
        height: 2.5rem;
        width: 2.5rem;
    }
    .chat-pan > div.more > div:nth-child(2) > div:first-child > svg {
        margin: 0.5rem 0.8rem;
        height: 1.5rem;
        width: 0.9rem;
    }
    .chat-pan > div.more > div:nth-child(2) > div:nth-child(2) {
        background: transparent;
        border: 1px solid var(--color-font-2);
        opacity: 0.7;
        border-radius: 2.5rem;
    }
    .chat-pan > div.more > div:nth-child(2) > div:nth-child(2) > div {
        display: none;
    }
    .chat-pan > div.more > div:nth-child(2) > div > form > textarea {
        max-height: 30vh;
    }
    .msg-menu-body {
        max-width: 35%;
        width: 35%;
    }
    .chat-pan > div.new-msg {
        margin: -3.125rem 1.25rem 1.25rem auto;
    }
    .face-pan {
        padding-bottom: 5rem;
    }
    .face-pan div.title {
        margin-bottom: 0.625rem;
    }
    .face-pan div.title > span{
        font-size: 1rem;
    }
    .base-face, .face-stickers {
        height: clamp(12.5rem, 38vh, 20rem);
        padding: 0;
    }
    .img-sender {
        height: calc(100% - var(--safe-area-top) - calc(var(--safe-area-bottom) + 0.9rem));
        margin: calc(var(--safe-area-top) + 0.9rem) 1.25rem 0 1.25rem;
        width: calc(100% - 2.5rem);
    }
    .img-sender > div.card {
        box-shadow: 0 0 5px var(--color-shader) !important;
        border-radius: 0.4rem !important;
    }
    /* 消息 */
    .msg-img {
        max-height: 40vh;
    }
    .msg-img.alone {
        max-width: calc(100% + 1.875rem);
        margin: -0.625rem -0.9rem;
    }
    /* 设置面板 */
    .opt-tab {
        height: calc(100% - 9rem);
    }
    .opt-tab > div:first-child {
        box-shadow: unset !important;
        margin: 0 -0.625rem 0 -0.625rem !important;
        padding-top: calc(var(--safe-area-top) + 1.25rem);
        background: transparent;
        backdrop-filter: blur(35px);
    }
    .opt-tab > div:first-child > div {
        box-shadow: 0 0 5px var(--color-shader);
        width: fit-content;
        margin: 0 auto 1.25rem auto;
        background: var(--color-card-2);
        border-radius: 999px;
        padding: 0 1.25rem !important;
    }
    .opt-tab > div:first-child svg {
        font-size: 1.2rem;
    }
    .opt-tab .tab-bar {
        margin: -1.06rem -0.625rem -1.06rem -3.125rem;
    }
    .opt-tab .tab-bar > li:last-child > div {
        box-shadow: -0.625rem 0 0 0 var(--color-card), 0.625rem 0 0 0 var(--color-card);
        background: var(--color-card);
        height: 1.875rem;
        margin-top: -1.875rem;
        border-radius: 999px;
        z-index: 1;
    }
    .opt-tab .tab-bar > li span {
        z-index: 2;
    }
    .opt-tab .tab-bar > li:last-child span {
        transform: translateY(-0.3rem);
    }
    .opt-tab .tab-body {
        margin-top: -3.75rem;
        padding-top: 4.375rem;
    }
    .opt-tab .tab-body > div {
        padding: 0 10%;
    }
    .friend-list-space {
        border-left: 1px solid var(--color-card-2);
        background: var(--color-card);
    }

    .opt-main {
        padding-top: 0;
    }
    .opt-main>div:first-child {
        padding-top: var(--safe-area-top);
    }

    .chat-pan > div.more > div:nth-child(2) > div > form > input,
    .chat-pan > div.more > div:nth-child(2) > div > form > textarea {
        font-weight: normal;
    }
    .chat-pan > div.more > div:nth-child(2) > div > form > textarea {
        margin: 0.625rem 0;
    }

    .friend-list > div:first-child {
        padding-top: var(--safe-area-top);
    }

    .icon-list {
        display: flex;
    }
    .icon-list > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
    .icon-list > div.selected > img {
        border: 3px solid var(--color-main);
    }
    .icon-list img {
        width: 3.4rem;
        transition: border .3s;
        border: 3px solid var(--color-card-2);
        border-radius: 0.9rem;
    }
    .icon-list span {
        font-size: 0.85rem;
        color: var(--color-font-1);
        margin-top: 0.3rem;
    }
}

/* 移动端附加样式（横向 - 平板，缩减侧边栏） */
@media (min-width: 501px) and (max-width: 750px) {
    .friend-list {
        width: var(--mobile-sidebar-expanded) !important;
    }
    .chat-pan {
        left: var(--mobile-sidebar-expanded) !important;
    }
    .chat-info {
        width: calc(100% - 5.6rem) !important;
        margin: calc(50vh - 1.25rem) 0 0 1.25rem !important;
        min-width: unset !important;
    }
    .chat-info-pan {
        height: calc(100% + 3.4rem) !important;
        margin-top: -1.25rem !important;
    }
    .home-body {
        width: calc(100% - var(--mobile-sidebar-expanded)) !important;
        margin-left: var(--mobile-sidebar-expanded) !important;
    }
}
